body {
	margin: 80px 0;
	font-family: sans-serif;
}

input, select, textarea {
	border: 1px solid #C3C3C3;
}

h1 {
	margin-top: 5px;
	margin-bottom: 15px;
}

#content {
  margin: auto;
  width: 800px;
  text-align: center
}

dl {
  width: 300px;
  margin: auto;
}
dt {
  float: left;
}
dt a {
  color: #555
}
dd {
  text-align: right;
  padding-bottom: 4px
}

table {
	border-collapse: collapse;
	empty-cells: show;
}

td, th {
	padding: 2px 5px 2px 5px;
	border: 1px solid grey;
}

a img {
	border: 0px;
}

footer {
  opacity: 0;
  alpha(opacity=0);
  display: block;
  margin-top: 50px;
}
iframe{
  border: 0;
  height: 300px;
  width: 700px;
  margin: 0;
}