* {
	padding: 0;
	font-family: sans-serif;
	font-size: small;
}

.error {
	color: red;
	font-weight: bold;
}

span.head {
	font-weight: bold;
}

span.number {

}

textarea {
	width: 165px;
	height: 170px;
}
